* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;

}

a {
    
    color: whitesmoke; 
    text-decoration: none;

}
.nav {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    width: 99vw;
    padding: 5px;
    background-image: url(media/tealnav.jpg);  
    overflow: hidden;
    border-bottom: 2px solid black;
    z-index: 1;
}

.nav ul li {
  display: inline-flex;
  position: relative;
  justify-content: space-around;
  left: -20px;
  
}

.nav ul li a {
  text-decoration: none;
  color: whitesmoke;
  font-size: 18px;
  top: 0;  
}

.nav ul li a:hover {
    color: darkgrey;
}

#hi {
  
  display: inline-block;
  position: absolute;
  top: 10%;
  left: 18%;
  margin: 0 auto;
  font-size: 32px;
  color: black;
  z-index: 2;

}

#welcome-section span {
    
    color: white;
}

#welcome-section {
  height: 150vh;
  width: 99.99%;
  color: whitesmoke;
/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#158989+0,f9f9f9+50,158989+100 */
background: linear-gradient(to right,  #158989 0%,#f9f9f9 50%,#158989 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

}

#welcome-section img {
    display: inline-block;
    position: fixed;
    height: 99%;
    top: 20px;
    left: 57%;
    z-index: 1;
}


.project-wrapper {
    
    display: flex;
    position: relative;
    top: 20%;
    left: 13%;
    width: 30%;
    grid-row-gap: 50px;
    height: auto;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    justify-items: center;
    z-index: 1;
    
}

.project-tile {

  position: relative;
  border: 2px solid white;
  width: 29.4vw;
  height: 32.7vh;
  box-shadow: 1px 1px 4px 2px whitesmoke;
}

.figcaption {
    
    position: absolute;
    text-align: center;
    width: 100%;
    top: 105%;
    color: whitesmoke;    
}

/* ----------SECOND SECTION-----------*/


#second-section {
    
    position: absolute;
    width: 99.99%;
    height: 70vh;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#158989+0,f9f9f9+50,158989+100 */
    background: linear-gradient(to right,  #158989 0%,#f9f9f9 50%,#158989 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

}

.social-wide {
    
    display: inline-block;
    position: relative;
    height: 50px;
    top: 55%;
    color: teal;
    margin-left: 24%;
}

.social-wide h3 {
    
    display: inline-block;
    position: relative;
    left: -50.5%;
    top: 50%;
    
}

.social-wide a {
    
    color: white;
}

.social-wide a:hover {
    
    color: teal;
    text-decoration: underline;
    /* transform: translate(0px, -8px); 
    Need to get this to shift down a few pixels for the effect.
    */ 
}

#copyright, #copyright a {
    
  position: relative;
  margin-left: 25.5%;
  bottom: -85%;    
  font-size: 18px;
  color: black;
  z-index: 2;
}




/* -----------------------------BIG LAPTOP-------------------------------------------------------------------*/
/* -----------------------------BIG LAPTOP-------------------------------------------------------------------*/

@media only screen and (max-width: 1245px) {
    .project-wrapper {
    
        display: flex;
        position: relative;
        top: 15%;
        left: 2%;
        width: 30%;
        grid-row-gap: 150px;
        height: auto;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-around;
        justify-items: center;
        z-index: 1;
        
    }
}


@media only screen and (max-width: 1200px) and (min-width: 993px) {
    
    .nav {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    width: 100vw;
    padding: 5px;
    background-image: url(media/tealnav.jpg);  
    overflow: hidden;
    border-bottom: 2px solid black;
    z-index: 1;
}

    
  #hi {
  
  display: inline-block;
  position: absolute;
  top: 10%;
  left: 10.5%;
  margin: 0 auto;
  font-size: 2em;
  color: black;
  z-index: 2;

}

#welcome-section span {
    
    color: white;
}

#welcome-section {
  height: 195vh;
  width: 99.99%;
  color: whitesmoke;
/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#158989+0,f9f9f9+50,158989+100 */
background: linear-gradient(to right,  #158989 0%,#f9f9f9 50%,#158989 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

}

#welcome-section img {
    display: inline-block;
    position: fixed;
    height: auto;
    width: 30%;
    top: 90px;
    left: 65%;
    z-index: 1;
}


.project-wrapper {
    
    display: flex;
    position: relative;
    top: 15%;
    left: 2%;
    width: 30%;
    grid-row-gap: 120px;
    height: auto;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    justify-items: center;
    z-index: 1;
    
}

.project-tile {

  position: relative;
  border: 2px solid white;
  width: 47vw;
  height: 35.7vh;
  box-shadow: 1px 1px 4px 2px whitesmoke;
}

.figcaption {
    
    position: relative;
    text-align: center;
    width: 100%;
    top: 105%;
    color: whitesmoke;    
}

/* ----------SECOND SECTION-----------*/


#second-section {
    
    position: relative;
    width: 99.99%;
    height: 70vh;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#158989+0,f9f9f9+50,158989+100 */
    background: linear-gradient(to right,  #158989 0%,#f9f9f9 50%,#158989 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

}

.social-wide {
    
    display: inline-block;
    position: relative;
    height: 50px;
    top: 73%;
    color: teal;
    margin-left: 24%;
}

.social-wide h3 {
    
    display: inline-block;
    position: relative;
    left: -50.5%;
    top: 50%;
    
}

.social-wide a {
    
    color: teal;
}

.social-wide a:hover {
    
    color: teal;
    text-decoration: underline;
    /* transform: translate(0px, -8px); 
    Need to get this to shift down a few pixels for the effect.
    */ 
}

#copyright, #copyright a {
    
  position: relative;
  margin-left: 25.5%;
  bottom: -84%;    
  font-size: 18px;
  color: black;
  z-index: 2;
}

    
}

/* -----------------------------LAPTOP-------------------------------------------------------------------*/
/* -----------------------------LAPTOP-------------------------------------------------------------------*/



@media only screen and (max-width: 992px) and (min-width: 769px) {
    
    .nav {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    width: 100vw;
    padding: 5px;
    background-image: url(media/tealnav.jpg);  
    overflow: hidden;
    border-bottom: 2px solid black;
    z-index: 1;
}

    
  #hi {
  
  display: inline-block;
  position: absolute;
  top: 10%;
  left: 10.5%;
  margin: 0 auto;
  font-size: 1.7em;
  color: black;
  z-index: 2;

}

#welcome-section span {
    
    color: white;
}

#welcome-section {
  height: 200vh;
  width: 99.99%;
  color: whitesmoke;
/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#158989+0,f9f9f9+50,158989+100 */
background: linear-gradient(to right,  #158989 0%,#f9f9f9 50%,#158989 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

}

#welcome-section img {
    display: inline-block;
    position: fixed;
    height: 45%;
    top: 20px;
    left: 74.8%;
    z-index: 1;
}


.project-wrapper {
    
    display: flex;
    position: relative;
    top: 13%;
    left: 2%;
    width: 30%;
    grid-row-gap: 120px;
    height: auto;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    justify-items: center;
    z-index: 1;
    
}

.project-tile {

  position: relative;
  border: 2px solid white;
  width: 57vw;
  height: 35.7vh;
  box-shadow: 1px 1px 4px 2px whitesmoke;
}

.figcaption {
    
    position: absolute;
    text-align: center;
    width: 100%;
    top: 105%;
    color: whitesmoke;    
}

/* ----------SECOND SECTION-----------*/


#second-section {
    
    position: absolute;
    width: 99.99%;
    height: 70vh;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#158989+0,f9f9f9+50,158989+100 */
    background: linear-gradient(to right,  #158989 0%,#f9f9f9 50%,#158989 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

}

.social-wide {
    
    display: inline-block;
    position: relative;
    height: 50px;
    top: 65%;
    color: teal;
    margin-left: 35%;
}

.social-wide h3 {
    
    display: inline-block;
    position: relative;
    left: -50.5%;
    top: 50%;
    
}

.social-wide a {
    
    color: teal;
}

.social-wide a:hover {
    
    color: teal;
    text-decoration: underline;
    /* transform: translate(0px, -8px); 
    Need to get this to shift down a few pixels for the effect.
    */ 
}

#copyright, #copyright a {
    
  position: relative;
  margin-left: 23%;
  bottom: -84%;    
  font-size: 18px;
  color: black;
  z-index: 2;
}

    
}


/* -----------------------------TABLET-------------------------------------------------------------------*/
/* -----------------------------TABLET-------------------------------------------------------------------*/



@media only screen and (max-width: 768px) and (min-width: 601px) {
    
    .nav {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    width: 100vw;
    padding: 5px;
    background-image: url(media/tealnav.jpg);  
    overflow: hidden;
    border-bottom: 2px solid black;
    z-index: 1;
}

    
  #hi {
  
  display: inline-block;
  position: absolute;
  top: 10%;
  left: 8%;
  margin: 0 auto;
  font-size: 2em;
  color: black;
  z-index: 2;

}

#welcome-section span {
    
    color: white;
}

#welcome-section {
  height: 150vh;
  width: 99.99%;
  color: whitesmoke;
/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#158989+0,f9f9f9+50,158989+100 */
background: linear-gradient(to right,  #158989 0%,#f9f9f9 50%,#158989 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

}

#welcome-section img {
    display: inline-block;
    position: fixed;
    height: 30%;
    top: 20px;
    left: 77%;
    z-index: 1;
}


.project-wrapper {
    
    display: flex;
    position: relative;
    top: 15%;
    left: 2%;
    width: 30%;
    grid-row-gap: 70px;
    height: auto;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    justify-items: center;
    z-index: 1;
    
}

iframe {

  position: relative;
  border: 2px solid white;
  width: 73vw !important;
  height: 35.7vh;
  box-shadow: 1px 1px 4px 2px whitesmoke;
}

.figcaption {
    
    position: absolute;
    text-align: center;
    width: 100%;
    top: 105%;
    color: whitesmoke;    
}

/* ----------SECOND SECTION-----------*/


#second-section {
    
    position: absolute;
    width: 99.99%;
    height: 70vh;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#158989+0,f9f9f9+50,158989+100 */
    background: linear-gradient(to right,  #158989 0%,#f9f9f9 50%,#158989 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

}

.social-wide {
    
    display: inline-block;
    position: relative;
    height: 50px;
    top: 65%;
    color: teal;
    margin-left: 42%;
}

.social-wide h3 {
    
    display: inline-block;
    position: relative;
    left: -50.5%;
    top: 50%;
    
}

.social-wide a {
    
    color: teal;
}

.social-wide a:hover {
    
    color: teal;
    text-decoration: underline;
    /* transform: translate(0px, -8px); 
    Need to get this to shift down a few pixels for the effect.
    */ 
}

#copyright, #copyright a {
    
  position: relative;
  margin-left: 20%;
  bottom: -84%;    
  font-size: 18px;
  color: black;
  z-index: 2;
}

    
}


/* -----------------------------PHONE-------------------------------------------------------------------*/
/* -----------------------------PHONE-------------------------------------------------------------------*/



@media only screen and (max-width: 600px) and (min-width: 400px) {
    
    .nav {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    width: 100vw;
    padding: 5px;
    background-image: url(media/tealnav.jpg);  
    overflow: hidden;
    border-bottom: 2px solid black;
    z-index: 1;
}

    
  #hi {
  
  display: inline-block;
  position: absolute;
  top: 10%;
  left: 10%;
  width: 75%;
  margin: 0 auto;
  font-size: 1.2em;
  color: black;
  word-break: break-all;
  z-index: 2;

}

#welcome-section span {
    
    color: teal;
}

#welcome-section {
  height: 70vh;
  width: 99.99%;
  color: whitesmoke;
/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#158989+0,f9f9f9+50,158989+100 */
background: linear-gradient(to right,  #158989 0%,#f9f9f9 50%,#158989 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

}

#welcome-section img {
    display: inline-block;
    position: fixed;
    height: 20%;
    top: 30px;
    left: 78.3%;
    z-index: 3;
}

.project-wrapper {
    
    display: flex;
    position: relative;
    top: 25%;
    left: 3%;
    width: 30%;
    grid-row-gap: 10px;
    height: auto;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    justify-items: center;
    z-index: 1;
    
}

iframe {

  position: relative;
  border: 2px solid white;
  width: 73.5vw;
  height: auto;
  box-shadow: 1px 1px 4px 2px whitesmoke;
}

.project-tile {
    position: relative;
    display: inline-block;
    width: 74vw;
    height: auto;
    color: black
}

.figcaption {
    
    position: absolute;
    text-align: center;
    width: 10%;
    top: 105%;
}

/* ----------SECOND SECTION-----------*/


#second-section {
    
    position: relative;
    width: 99.99%;
    height: 100vh;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#158989+0,f9f9f9+50,158989+100 */
    background: linear-gradient(to right,  #158989 0%,#f9f9f9 50%,#158989 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

}

.social-wide {
    
    display: inline-block;
    position: relative;
    height: 50px;
    top: 70%;
    color: teal;
    margin-left: 40%;
}

.social-wide h3 {
    
    display: inline-block;
    position: relative;
    left: -50.5%;
    top: 50%;
    
}

.social-wide a {
    
    color: teal;
}

.social-wide a:hover {
    
    color: teal;
    text-decoration: underline;
    /* transform: translate(0px, -8px); 
    Need to get this to shift down a few pixels for the effect.
    */ 
}

#copyright, #copyright a {
    
  position: relative;
  left: -9.5%;
  bottom: -84%;    
  font-size: 18px;
  color: black;
  z-index: 2;
}

    
}

/* -----------------------------extra small-------------------------------------------------------------------*/
/* -----------------------------extra small-------------------------------------------------------------------*/



@media only screen and (max-width: 399px) and (min-width: 200px) {

    .nav {
        display: flex;
        justify-content: flex-end;
        position: fixed;
        width: 77vw;
        padding: 5px;
        background-image: url(media/tealnav.jpg);  
        overflow: hidden;
        border-bottom: 2px solid black;
        z-index: 1;
    }
    
        
      #hi {
      
      display: inline-block;
      position: absolute;
      top: 7%;
      left: 4%;
      width: 58%;
      margin: 0 auto;
      font-size: 0.8em;
      color: black;
      word-break: break-all;
      z-index: 2;
    
    }
    
    #welcome-section span {
        
        color: teal;
    }
    
    #welcome-section {
      height: 35vh;
      width: 99.99%;
      color: whitesmoke;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#158989+0,f9f9f9+50,158989+100 */
    background: linear-gradient(to right,  #158989 0%,#f9f9f9 50%,#158989 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    
    }
    
    #welcome-section img {
        display: inline-block;
        position: absolute;
        height: 9%;
        top: 67px;
        left: 33.3%;
        z-index: 3;
    }
    
    .project-wrapper {
        
        display: flex;
        position: relative;
        top: 55%;
        left: 3%;
        width: 30%;
        grid-row-gap: 15px;
        height: auto;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-between;
        justify-items: center;
        z-index: 1;
        
    }
    
    iframe {
    
      position: relative;
      border: 2px solid white;
      width: 67vw;
      height: 20vh;
      box-shadow: 1px 1px 4px 2px whitesmoke;
    }
    
    .project-tile {
        position: relative;
        display: inline-block;
        width: 66vw;
        height: auto;
        color: black;
        font-size: 0.7em;
    }
    
    .figcaption {
        
        position: absolute;
        text-align: center;
        width: 10%;
        top: 105%;
    }
    
    /* ----------SECOND SECTION-----------*/
    
    
    #second-section {
        
        position: relative;
        width: 99.99%;
        height: 100vh;
        /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#158989+0,f9f9f9+50,158989+100 */
        background: linear-gradient(to right,  #158989 0%,#f9f9f9 50%,#158989 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    
    }
    
    .social-wide {
        
        display: inline-block;
        position: relative;
        height: 20px;
        top: 80%;
        color: teal;
        margin-left: 20%;
    }

    .social-wide img{
        
        display: inline-block;
        position: relative;
        height: 20px;
        top: 290%;
        color: teal;
        margin-left: 22%;
    }
    
    .social-wide h3 {
        
        display: inline-block;
        position: relative;
        left: 3%;
        top: 270%;
        
    }
    
    .social-wide a {
        
        color: teal;
    }
    
    .social-wide a:hover {
        
        color: teal;
        text-decoration: underline;
        /* transform: translate(0px, -8px); 
        Need to get this to shift down a few pixels for the effect.
        */ 
    }
    
    #copyright, #copyright a {
        
      position: relative;
      left: -23.5%;
      width: 100vw;
      bottom: -90%;    
      font-size: 0.9em;
      color: black;
      z-index: 2;
    }

}














